body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.cover {
    line-height: 0;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.show_hover {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0%;
    border-radius: 40px 40px 0px 0px;
}

.show_hover:hover {
    opacity: 100%;
    transition: all;
    transition-duration: 1s;
}

.show_not_hover {
    opacity: 100;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    justify-self: center;
    align-self: center;
}


body>div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body>div>div {
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 30px;
}

header {
    font-size: 3vw;
    padding-left: 20px;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-size: 2vw;
    margin-left: 25px;
    margin-right: 20px;
}


nav div {
    font-size: 3vw;
    border-radius: 20px;
    background-color: gray;
    width: 22vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: black;
}

nav div:hover {
    background-color: rgba(0, 0, 0, 0.272);
}

.marked {
    box-shadow: 0px 0px 15px 3px white;
    background-color: gray;
}

.marked:hover {
    box-shadow: 0px 0px 15px 3px white;
    background-color: gray;
}

main {
    width: auto;
    height: auto;
}

article {
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px;
}


.album_data {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}