body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.cover {
    line-height: 0;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.show_hover {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0%;
    border-radius: 40px 40px 0px 0px;
}

.show_hover:hover {
    opacity: 100%;
    transition: all;
    transition-duration: 1s;
}

.show_not_hover {
    opacity: 100;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    justify-self: center;
    align-self: center;
}


body>div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body>div>div {
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 30px;
}

header {
    font-size: 3vw;
    padding-left: 20px;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-size: 2vw;
    margin-left: 25px;
    margin-right: 20px;
}


nav div {
    font-size: 3vw;
    border-radius: 20px;
    background-color: gray;
    width: 22vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: black;
}

nav div:hover {
    background-color: rgba(0, 0, 0, 0.272);
}

.marked {
    box-shadow: 0px 0px 15px 3px white;
    background-color: gray;
}

.marked:hover {
    box-shadow: 0px 0px 15px 3px white;
    background-color: gray;
}

main {
    width: auto;
    height: auto;
}

article {
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px;
}


.album_data {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.album_data>div:nth-child(2) {
    font-size: 15px;
}

.album_data h1 {
    font-size: 33px;
}

.album_data h2 {
    font-size: 21px;
}

.album_data>div:nth-child(1) {
    margin-bottom: 50px;
}

.album_data>div:nth-child(2) {}

.album_description {
    margin-top: 50px;
}

.album_description p {
    margin-top: 70px;
    margin-right: 10px;
}



.song_list {
    display: flex;
    grid-column: 2/3;
    color: white;
    width: 100%;
    height: 85%;
    justify-self: center;
    gap: 10px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.song_list div {
    width: 100%;
    background-color: red;
    font-size: 13px;
    justify-self: end;
    padding-bottom: 2vw;
    padding-top: 2vw;
    padding-left: 1vw;
}

.song_list>:nth-child(1) {
    border-radius: 0 0 0px 20px;
}

.song_list>:nth-child(2) {
    border-radius: 0 0 20px 0px;
}

.song_list div h2 {
    margin: 0;
    width: 100%;
}

.song_list div ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: decimal;
}


.anecdotes {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


.anecdotes li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 2.5vw;
    font-size: 16px;
    background-color: purple;
}

#are_you_experienced .anecdotes li:nth-child(2) {
    display: none;
}

#are_you_experienced .anecdotes li:nth-child(4) {
    display: none;
}

#are_you_experienced .anecdotes li:nth-child(5) {
    display: none;
}

#are_you_experienced .two_wide {
    grid-column: 3/5;
    border-radius: 20px 20px 20px 0px;
}

#are_you_experienced .top_right_90 {
    grid-column: 1/2;
    border-radius: 20px 0px 20px 20px;
}

#are_you_experienced .image {
    background-image: url("./assets/background.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: rgb(35, 211, 85);
    border-radius: 0px 20px 20px 20px;
}

#are_you_experienced .bottom_right_90 {
    grid-column: 6/7;
    border-radius: 20px 20px 0px 20px;
}

#axis_bold_as_love .anecdotes li:nth-child(3) {
    display: none;
}

#axis_bold_as_love .anecdotes li:nth-child(4) {
    display: none;
}


#axis_bold_as_love .anecdotes li:nth-child(2) {
    grid-column: 6/7;
}

#axis_bold_as_love .two_wide {
    grid-column: 1/3;
    border-radius: 20px 20px 20px 0px;
}


#axis_bold_as_love .bottom_right_90 {
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 0px 20px 20px 20px;
}

#axis_bold_as_love .image {
    grid-column: 4/6;
    grid-row: 1/2;
    background-image: url("./assets/album1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: yellow;
    border-radius: 0px 20px 20px 20px;
}


#axis_bold_as_love .anecdotes>li:nth-child(2) {
    grid-column: 6/7;
    grid-row: 1/2;
    border-radius: 20px 20px 0px 20px;
}

@media (max-width:1111px) {
    .album_description p {
        font-size: 1.4vw;
    }

    .album_data>div:nth-child(2) {
        font-size: 1.4vw;
    }

    .album_data h1 {
        font-size: 3vw;
    }

    .album_data h2 {
        font-size: 2vw;
    }

    .song_list div h2 {
        font-size: 1.8vw;
    }

    .song_list div ul {
        font-size: 1.2vw;
    }

    .anecdotes>:nth-child(1) {
        font-size: 1.5vw;
    }

    .anecdotes>:nth-child(2) {
        font-size: 1.5vw;
    }

    .anecdotes>:nth-child(3) {
        font-size: 1.5vw;
    }

    .anecdotes>:nth-child(4) {
        font-size: 1.5vw;
    }

    .anecdotes>:nth-child(6) {
        font-size: 1.5vw;
    }

    .anecdotes>:nth-child(7) {
        font-size: 1.5vw;
    }

    @media only screen and (max-width:800px) {
        header {
            text-align: center;
        }

        header h1 {
            font-size: 9vw;
        }

        nav div {
            width: 20vw;
            height: 7vh;
        }

        .cover {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100%;
            width: 100%;
        }

        .show_hover {
            display: none;
        }

        .show_not_hover {
            width: 100%;
            height: 100%;
            border-radius: 15px 0px 0px 15px;
            justify-self: center;
            align-self: center;
        }

        .song_list {
            flex-direction: column;
            height: 100%;
            gap: 10px;
            width: 100%;
            margin-left: 3vw;
            padding: 0;
        }

        .song_list div h2 {
            font-size: 2.5vw;
        }

        .song_list div ul {
            font-size: 2.0vw;
        }

        .show_hover {
            display: none;
            border-radius: 0px 0px 0px 0px;
        }

        .song_list div:nth-child(1) {
            border-radius: 0 20px 0px 0px;
            width: 95%;
            height: 100%;
        }

        .song_list div:nth-child(2) {
            border-radius: 0 20px 0px 0px;
            width: 95%;
            height: 100%;
            margin: 0;
        }

        .song_list div:nth-child(2) {
            border-radius: 0 0px 20px 0px;
        }

        .album_data {
            grid-column: 1/3;
            grid-row: 2/3;
            margin: 0;
            width: 100%;
        }

        .album_data>div:nth-child(2) {
            font-size: 2.5vw;
        }

        .album_description {
            margin-top: 5vh;
            margin-bottom: 40px;
        }

        .album_description p {
            font-size: 2.5vw;
        }

        .album_data h1 {
            font-size: 6vw;
        }

        .album_data h2 {
            font-size: 4vw;
            margin-bottom: 5vh;
        }


        #are_you_experienced .anecdotes {
            margin-top: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .anecdotes>:nth-child(1) {
            font-size: 2.2vw;
        }

        .anecdotes>:nth-child(2) {
            font-size: 2.2vw;
        }

        .anecdotes>:nth-child(3) {
            font-size: 2.2vw;
        }

        .anecdotes>:nth-child(4) {
            font-size: 2.2vw;
        }

        .anecdotes>:nth-child(6) {
            font-size: 2.2vw;
        }

        .anecdotes>:nth-child(7) {
            font-size: 2.2vw;
        }

        .anecdotes li {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            font-size: 2.2vw;
            background-color: purple;
        }


        #are_you_experienced .image {
            grid-column: 2/3;
            grid-row: 2/3;
            background-image: url("./assets/background.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: yellow;
            display: flex;
            align-items: flex-end;
        }

        #are_you_experienced .bottom_right_90 {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        #are_you_experienced .two_wide {
            grid-column: 3/5;
            grid-row: 1/2;
        }






        #axis_bold_as_love .bottom_right_90 {
            grid-column: 6/7;
            grid-row: 2/3;
        }

        #axis_bold_as_love .two_wide {
            grid-column: 1/5;
            grid-row: 1/2;
        }

        #axis_bold_as_love .anecdotes>li:nth-child(2) {
            grid-column: 5/6;
            grid-row: 1/2;
        }

        #axis_bold_as_love .image {
            grid-column: 3/6;
            grid-row: 2/3;
            background-image: url("./assets/background.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: yellow;
            display: flex;
            align-items: flex-end;
        }
    }
}